@use 'variables';

:root {
	@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
  font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: variables.$primary-color;
}

.italic {
  font-style: italic;
}